.circle-container {
  margin: auto;
  width:  40em;
  height: 40em;
  border-radius: 50%;
  padding: 0; 
  list-style: none;
  
  > * {
    display: block;
    position: absolute;
    top:  45%; 
    left: 50%;
    margin: -(6em / 2);
  }
}